name: PyCoq CI

on:
  push:
    branches:
    - v8.13
  pull_request:
    branches:
    - v8.13

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        ocaml-version: [4.11.1, 4.12.0]
        python-version: [3.6.15, 3.7.12, 3.8.12, 3.9.6, 3.10.0, 3.11.0-alpha.1]
        os: [ubuntu-20.04]
    env:
      OPAMJOBS: "2"
      OPAMROOTISOK: "true"
      OPAMYES: "true"
      NJOBS: "2"
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'true'
      - name: Set up OCaml ${{ matrix.ocaml-version }}
        uses: avsm/setup-ocaml@v1
        with:
          ocaml-version: ${{ matrix.ocaml-version }}
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: OPAM dependencies setup
        run: |
          opam repos add coq-released http://coq.inria.fr/opam/released
          opam config set-global jobs $NJOBS
          opam install --deps-only .
          # Disabled due to vendoring
          # opam install pythonlib ppx_python
          # opam pin add ppx_python https://github.com/ejgallego/ppx_python.git#fixup
          opam list
      - name: Build PyCoq
        run: |
          set -e
          eval $(opam env)
          make build_pycoq
      - name: Validate examples
        run: |
          set -e
          eval $(opam env)
          make examples
      - name: Lint, typecheck, and test python
        run: |
          set -e
          eval $(opam env)
          make pyci
